{
    "extends": [
      "stylelint-config-standard",
      "stylelint-config-sass-guidelines",
      "stylelint-config-idiomatic-order"
    ],
    "plugins": [
        "stylelint-selector-bem-pattern"
    ],
    "rules": {
        "max-line-length": 80,
        "order/properties-alphabetical-order": null,
        "string-quotes": "single",
        "plugin/selector-bem-pattern": {
            "componentName": "[A-Z]+",
            "componentSelectors": {
            "initial": "^\\.{componentName}(?:-[a-z]+)?$",
            "combined": "^\\.combined-{componentName}-[a-z]+$"
            },
            "utilitySelectors": "^\\.util-[a-z]+$"
        }
    }
}
